@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<MVCHomework6.Data.Database.Articles>

@{
    foreach (var item in Model)
    {
        <div class="card mt-5">
            <img src="@item.CoverPhoto" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">
                    @Html.Raw(item.Body)
                </p>
                <a href="#" class="card-link">SkillTree</a>
                <a href="#" class="card-link">MVC</a>
            </div>
            <div class="card-footer text-muted">
                Posted on @item.CreateDate by me
            </div>
        </div>
    }
}

<nav class="mt-4">
    <ul class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page  }),new PagedListRenderOptions {
        PageClasses = new[] { "page-link","ListPage" },
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" }
        }
        )
    </ul>
</nav>

